* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

/* Hero Section */

main {
  display: flex;
  flex-direction: column;
}

.first-section {
  background-color: #1F2937;
  padding-bottom: 50px;
}

.hero-section {
  width: 60vw;
  margin: 0 auto;
  margin-bottom: 50px;
}

.nav-bar {
  display: flex;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.links a:hover {
  text-decoration: underline;
}

.logo a {
  font-size: 24px;
  color: #F9FAF8;
}

.logo {
  display: inline;
  flex: 2;
}

.links {
  display: inline;
  margin-left: 40px;
  margin-top: 5px;
}

article {
  display: flex;
}

.hero-text-and-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 120px;
}

h1 {
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8
}

.first-section p {
  margin-bottom: 20px;
  font-size: 18px;
  color: #E5E7EB;
}

button {
  width: 100px;
  height: 40px;
  background-color: #3882F6;
  border: none;
  border-radius: 5px;
  color: #F9FAF8;
}

img {
  max-width: 410px;
  max-height: 300px;
  border-radius: 4px;
}

/* Info */

.second-section {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 70px;
}

h2 {
  margin-bottom: 50px;
}

.squares {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  width: 60vw;
  margin: auto;
}

.square {
  border: 4px solid #3882F6;
  border-radius: 4px;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  font-size: 14px;
  font-weight: 100;
}

/* Quote */

.third-section {
  background-color: #E5E7EB;
  padding-top: 70px;
  padding-bottom: 70px;
}

.quote {
  width: 40vw;
  margin: auto;
}

blockquote {
  font-size: 36px;
  font-style: italic;
}

.author {
  width: 40vw;
  margin: auto;
  display: flex;
  justify-content: end;
}

.author p {
  font-style: normal;
}

/* Signup */

.fourth-section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.signup-box {
  display: flex;
  width: 60vw;
  margin: auto;
  background-color: #3882F6;
  color:#E5E7EB;
  padding: 40px 80px;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
}

h3 {
  margin-bottom: 4px;
}

.signup-box button {
  border: 1px solid #E5E7EB;
  height: 30px;
}

/* Footer */

footer {
  background-color: #1F2937;
  color: #E5E7EB;
  font-size: 18px;
  text-align: center;
  padding: 40px;
}